.access-container {
  .access-form:focus {
    border-color: #fa1e4e !important;
    box-shadow: 0 0 5px #fa1e4e;
  }

  .access-card-card {
    border: 1px solid #ffffff;
    background-color: #181818;
    color: #ffffff;
  }

  .yonzon-button {
    background-color: #fa1e4e;
    border: #fa1e4e;
    transition: 0.3s ease-in-out;

    &:hover,
    &:after,
    &:active,
    &:focus,
    &:disabled {
      background-color: #970f2c !important;
    }
  }
}

.access-help {
  color: #fa1e4e;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover,
  &:after,
  &:active,
  &:focus,
  &:disabled {
    text-decoration: underline;
    color: rgb(161, 0, 0);
  }
}
