.dashboard-container {
  margin-top: 5rem;

  .dashboard-card {
    border: 1px solid #ffffff;
    background-color: #181818;
    color: #ffffff;
  }

  .dashboard-title {
    font-weight: bold;
  }

  .hero-image {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
  }

  .filter-option {
    text-align: end;
  }

  .dashboard-form {
    background-color: #202020;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: 0.3s ease-in-out;
  
    &:hover {
      background-color: #2e2e2e !important;
      color: #ffffff;
      border-color: #fa1e4e !important;
      box-shadow: 0 0 5px #fa1e4e;
    }
  
    &:after,
    &:active,
    &:focus,
    &:disabled {
      background-color: #2e2e2e !important;
      color: #ffffff;
    }
  }
}



.dashboard-icon {
  cursor: pointer;
  margin: 10px;
}
