.invoice-container {
  margin-top: 5rem;

  .invoice-form {
    background-color: #202020;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #2e2e2e !important;
      color: #ffffff;
      border-color: #fa1e4e !important;
      box-shadow: 0 0 5px #fa1e4e;
    }

    &:after,
    &:active,
    &:focus,
    &:disabled {
      background-color: #2e2e2e !important;
      color: #ffffff;
    }
  }

  .invoice-card {
    border: 1px solid #ffffff;
    background-color: #181818;
    color: #ffffff;
  }

  .invoice-inner-card {
    border: 1px solid #ffffff;
    background-color: #111111;
    color: #ffffff;
  }

  .invoice-selected-card {
    border: 1px solid transparent;
    background-color: #303030cc;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      border: #fa1e4e !important;
      box-shadow: 0 0 5px #fa1e4e;
    }
  }
}

.invoice-modal-container {
  .invoice-form {
    transition: 0.3s ease-in-out;

    &:hover {
      border: #fa1e4e !important;
      box-shadow: 0 0 5px #fa1e4e;
    }
  }
}

.product-container {
  padding-bottom: 10px;
}

.inner-product-container {
  padding-bottom: 40px;
  min-height: 625px;
  max-height: 62px;
  overflow-y: auto;
}

.invoice-modal-container {
  .yonzon-button {
    background-color: #fa1e4e;
    border: #fa1e4e;
    transition: 0.3s ease-in-out;

    &:hover,
    &:after,
    &:active,
    &:focus,
    &:disabled {
      background-color: #970f2c !important;
    }
  }
}

.dropdown-menu {
  background-color: #e7e7e7;
}
