.inventory-item-container {
  .inventory-item-form:focus {
    border-color: red !important;
    box-shadow: 0 0 5px red;
  }

  .inventory-item-card {
    border: 1px solid transparent;
    background-color: #303030cc;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover,
    &:after,
    &:active,
    &:focus,
    &:disabled {
      border-color: red !important;
      box-shadow: 0 0 5px red;
    }
  }

  .yonzon-button {
    background-color: #fa1e4e;
    border: #fa1e4e;
    transition: 0.3s ease-in-out;

    &:hover,
    &:after,
    &:active,
    &:focus,
    &:disabled {
      background-color: #970f2c !important;
    }
  }
}
