.App {
  background-color: #111111;
  color: #ffffff;
}

::selection {
  color: #fa1e4e;
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #686868;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
